body {
    margin: 30px auto;
    width: 65%;
    background-color: #efefef;
    overflow: auto;
}

header.basic {
    overflow: hidden;
    margin-bottom: 15px;
}

header h1 { 
    margin: 0;
}

header.basic h1 {
    margin: 0;
    line-height: 50px;
    float: left;
    color: #999;
}

header.basic nav {
    float: right;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #999;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #4183c4;
}

header a, footer a {
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    margin: 70px 30px;
    font-size: .8em;
}

footer ul {
    width: 500px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

footer ul li {
    flex: 1 1 auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

main {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
}

.post_category {
    color: #efa45e;
}

.recent_blog {
    margin-bottom: 45px;
}

.post_title {
    margin: 7px auto;
}
.post_tags, .post_date {
    margin: 0 auto;
}

.post_tags .tag {
    font-size: .5em;
    //border: 1px solid black;
    padding: 2px 3px;
    background-color: #5d5c5c;
    color: white;
    border-radius: 2px;
}

.post_tags a {
	color: white;
}



pre, code {
    color: #000;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.94em;
    border-radius: 3px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
}

pre {
    padding: 1em 1.5em;
    overflow-x: auto;
}

code {
    padding: 0 3px;
}

pre code {
    font-size: 1.2em;
    line-height: 1.4em;
    border: 0;
}

pre code span[class^="c"] {
    font-size: 0.9em;
}

blockquote {
    margin: 2em 0;
    border-left: 5px solid #7b7979;
    padding: 10px 10px;
    background-color: #e8e8ec;
}

blockquote p {
    margin: 0;
}

/* 居中图片 */
figure img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* 居中图片介绍 */
figure figcaption{
    text-align: center;
}
