body {
    margin: 30px auto;
    width: 75%;
    background-color: #eee;
}

header.basic {
    overflow: hidden;
    margin-bottom: 15px;
}

header h1 { 
    margin: 0;
}

header.basic h1 {
    margin: 0;
    line-height: 50px;
    float: left;
    color: #999;
}

header.basic nav {
    float: right;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #999;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

main {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
}

pre {
    padding: 1em 1.5em;
}

pre code {
    font-size: 1.2em;
    line-height: 1.4em;
}

pre code span[class^="c"] {
    font-size: 1em;
}
