---
layout: default
title: Tank0317, 一个微不足道的蚂蚁
---


<article>
	<header>
		<h2>Hello, 欢迎来到我的博客</h1>
	</header>
	<p></p>
</article>

<section class="recent-blogs">
	<header>
	<h4>Recent blogs</h4>
	</header>
	{% for post in site.posts limit: 5 %}
	<article class="recent-blog">
		<header>
			<h3>
				<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			</h3>
			<p>{% for tag in post.tags %} <span class="tags">{{ tag }}</span> {% endfor %}</p>
			<p><small>{{ post.date | date: "%Y-%m-%d" }}</small></p>  
		</header>
		<p class="post_excerpt">{{ post.excerpt | strip_html }}</p>
	</article>
	{% endfor %}
</section>