<!-- disqus 显示评论数 js代码 start -->
<!-- 由于国内不支持disqus, 不在使用disqus
<script id="dsq-count-scr" src="//tank0317-github-io.disqus.com/count.js" async></script> -->
<!-- disqus 显示评论数 js代码 end-->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"tank0317"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script> 
<!-- 多说公共JS代码 end -->
<!-- 我刚加上多说的评论系统，他就要关闭，我是多无奈啊-->



